@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Roboto&family=Splash&display=swap');
/** {
  font-size: xx-large;
  color: blueviolet;
}
label{
  color: crimson;
}

h2 {
  color: darkblue;
}

p {
  font-style: italic;
  color: aquamarine;
}*/

/*
.lista-albumes {
  color: chocolate;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 25px;
}

ul, p {
  font-size: 10px;
  color: crimson;
}*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(153, 170, 114, 0.7); /* Con rgba se define transparencia, en este caso es en un 70% */ 
  /*background-color: rgb(153, 170, 114);*/
}

/* Prioridad del estilo es el último valor asignado en este archivo 
  Prioridad entre dos clases, se toma la última del archivo
  Prioridad entre una clase y el tag completo, se prioriza la clase
  Prioridad entre el ID y la clase, se prioriza el ID
  Estilo en línea (style="color: red;") es el que tiene la máxima prioridad
  Colocando !important maximiza sin falta la prioridad, por encima del estilo en línea */

.purple-text {
  color: purple !important;
}

.blue-text {
  color: #25248f;
}


a {
  font-family: 'Inconsolata', sans-serif;
}

/* Cuando tiene un . se refiere a clases (class="lista-albumes") */
.lista-albumes {
  font-family: fantasy;
  color: green;
  font-size: 25px;
}

/* Cuando tiene un # se refiere a IDs. (id="discos-title") */
#discos-title {
  color: cadetblue;
  font-style: italic;
}

img {
  width:300px;
  border-width: 5px;
  border-color: magenta;
  border-style: double dashed ridge solid;
  border-radius: 80px;  /* Borde redondeado */
  margin: 50px;
  padding: 5px;
  background-color: pink;
}

div {
  background-color: aquamarine;
  padding: 30px;  /* Distancia en pixeles entre el borde del elemento div y su contenido */
  margin: 100px;  /*  Distancia entre el contenedor interno con el externo */
}

.contenedor-master {
  background-color: blueviolet;
  padding-top: 5px;
  padding-right: 65px;
  padding-bottom: 100px;
  padding-left: 50px;
  /*padding: 5px 65px 100p 50px;   Otra forma de hacer el padding por lado (sentido de las agujas del reloj) */
}

/*selector de atributo*/
img[alt] {  /* Todos los tags que tienen asignado un atributo alt */
  border-color: black;

}

[type="radio"] {  /* Sirve también input[type="radio"] si se especifica únicamente a los input */
  margin: 15px;
}

a[href="#ride"] { /* Todos los links (tag <a>) que redirecciones la página #ride */
  color: green;
  text-decoration: none;
  font-weight: bold;
}

a[href="#kill"] { /* Todos los links (tag <a>) que redirecciones la página #ride */
  text-decoration: purple wavy underline;
}


#main-container {
  color: aliceblue;
  background-color: yellow;
  margin: 0px;
  padding: 0px;
  font-size: 11px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rectangulo {
  padding: 5px;
  margin: 5px;
}

.px {
  background-color: crimson;
  width: 200px;
}

.vw {
  background-color: darkmagenta;
  width: 20vw;
}

.em {
  background-color: green;
  width: 15em;
}
